<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
            <pattern>%.-1level | %16.16thread{16} | %30.30logger{30} | %m \(%F:%L\)%n</pattern>
        </encoder>
    </appender>
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
    <logger name="com.sun.jersey" level="WARN" />
    <logger name="org.eclipse.jetty" level="WARN" />
    <!--
    <logger name="org.eclipse.jetty.http" level="WARN" />
    <logger name="org.eclipse.jetty.server.AsyncHttpConnection" level="WARN" />
    <logger name="org.eclipse.jetty.io.nio" level="WARN" />
    <logger name="org.apache.commons.vfs2.impl.StandardFileSystemManager" level="WARN" />
    <logger name="org.eclipse.jetty.server.AsyncHttpConnection" level="WARN" />
    <logger name="org.eclipse.jetty.server.AbstractHttpConnection" level="WARN" />
    <logger name="EventActor" level="DEBUG" />
    <logger name="htr3n.dera.runtime" level="DEBUG" />
    <logger name="ExecutionManager" level="DEBUG" />
    <logger name="Barrier" level="DEBUG" />
    <logger name="EventActorManager" level="DEBUG" />
    <logger name="ApplicationManager" level="DEBUG" />
    <logger name="EventChannel" level="DEBUG" />
    <logger name="htr3n.dera" level="DEBUG" />
    <logger name="htr3n.dera.json.ws.WebSocketMonitorServlet" level="DEBUG" />
    <logger name="htr3n.dera.esper" level="DEBUG" />
    -->
</configuration>
